/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 26, 2017, 6:28:35 PM
    Author     : 00140307
*/
ul li{
    list-style-type: none;
    display: inline;
    font-size: 24px;
    background: #353C2E;
    padding: 15px;
    border-radius: 5px;
}
    
    #cabecera{
        text-align: center;
        font-family: Georgia;
        color: #353C2E;
    }

    #menu{
        text-align: center;
        color: #FDFFFA;
        
    }

    #cuerpo{
        text-align: center;
        font-family: Georgia;
        font-size: 22px;
        
    }
    
    #img{
        text-align: center;
        background: antiquewhite;
   
    }
    
    #pie{
        text-align: center;
        background: #353C2E;
        color: #FDFFFA;
    }